[Unit]
Description=Monitor leto instances on local network
After=network-online.target
Wants=networl-online.target

[Service]
ExecStart=/usr/local/bin/leto-monitor.sh
Restart=always

[Install]
WantedBy=multi-user.target
