# -*- mode: yaml -*-
version: "3.9"

services:
  olympus:
    hostname: {{ vault_olympus_server | replace(".local","") }}
    image: ghcr.io/formicidae-tracker/olympus:{{ olympus_version }}
    container_name: olympus-olympus
    ports:
      # it is primordial that this gRPC port stay private to allow
      # only local tracking computers to connect to. There are no gRPC
      # credential set up.
      - "{{ fort_subnet | ansible.utils.ipmath(1) }}:3001:3001"
    restart: unless-stopped
    extra_hosts:
      - "signoz:{{ fort_subnet | ansible.utils.ipmath(1)}}"
    environment:
      - OLYMPUS_DATA_HOME=/data/olympus
      - OLYMPUS_OTEL_ENDPOINT=signoz:4317
    env_file:
      - .secret.env
      - .vapid.env
    command:
      - run
    volumes:
      - olympus-data:/data/olympus
    labels:
      - traefik.http.routers.olympus.rule=PathPrefix("/api")
      - traefik.http.services.olympus.loadbalancer.server.port=3000

  rtmp:
    image: ghcr.io/formicidae-tracker/olympus-rtmp:{{ olympus_version }}
    container_name: olympus-rtmp
    ports:
      # it is primordial that this RTMP port stay private to allow
      # only local tracking computers to connect to to stream. The
      # RTMP server accepts any connection to stream.
      - "{{ fort_subnet | ansible.utils.ipmath(1) }}:1935:1935"
    volumes:
      - srv-data:/srv
    restart: unless-stopped
    labels:
      - traefik.http.routers.rtmp.rule=PathPrefix("/olympus")
      - traefik.http.services.rtmp.loadbalancer.server.port=8888

  thumbnails:
    image: caddy:latest
    volumes:
      - srv-data:/usr/share/caddy
    labels:
      - traefik.http.routers.thumbnails.rule=PathPrefix("/thumbnails/olympus/")
      - traefik.http.services.thumbnails.loadbalancer.server.port=80

  webapp:
    image: ghcr.io/formicidae-tracker/olympus-frontend:{{ olympus_version }}
    container_name: olympus-webapp
    restart: unless-stopped
    labels:
      - traefik.http.routers.webapp.rule=PathPrefix("/")
      - traefik.http.services.webapp.loadbalancer.server.port=80

  traefik:
    image: traefik:v3.0.0-beta3
    container_name: olympus-trafik
    extra_hosts:
      - "signoz:{{ fort_subnet | ansible.utils.ipmath(1)}}"
    command:
      - --entrypoints.web.address=:80
      - --providers.docker
      - --metrics.openTelemetry=true
      - --metrics.openTelemetry.address=signoz:4317
      - --metrics.openTelemetry.insecure=true
      - --metrics.openTelemetry.grpc=true
      - --tracing.openTelemetry=true
      - --tracing.openTelemetry.address=signoz:4317
      - --tracing.openTelemetry.insecure=true
      - --tracing.openTelemetry.grpc=true

    ports:
      - "80:80"
      # Only local subnet is able to access the traefik console !!
      - "{{ fort_subnet | ansible.utils.ipmath(1)}}:8080:8080"
    restart: unless-stopped
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 1800 olympus-olympus olympus-webapp olympus-rtmp

volumes:
  srv-data:
  olympus-data:
