[Unit]
Description=Olympus: Displays a Lot of gods
After=syslog.target
After=network.target

[Service]
RestartSec=2s
WorkingDirectory=/usr/local/src/olympus
ExecStart=/usr/bin/docker compose up --remove-orphans -d
ExecStop=/usr/bin/docker compose down
Restart=always

[Install]
WantedBy=multi-user.target
