#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=Serial CAN on %I
BindsTo=dev-%i.device
After=dev-%i.device systemd-user-sessions.service plymouth-quit-wait.service
After=rc-local.service

# If additional gettys are spawned during boot then we should make
# sure that this is synchronized before getty.target, even though
# getty.target didn't actually pull it in.
IgnoreOnIsolate=yes

[Service]
ExecStart= /usr/bin/slcand -ofs 5 -S 115200 /dev/ttyS0
ExecStartPost= /bin/sleep 0.5
ExecStartPost= /sbin/ip link set slcan0 up
Type=forking
GuessMainPID=yes
Restart=always
UtmpIdentifier=%I
TTYPath=/dev/%I
TTYReset=yes
KillMode=process

[Install]
WantedBy=getty.target
