MAKE="make -C drivers/linux/ KDIR=/lib/modules/${kernelver}/build MODULE=memento"
CLEAN="make -C drivers/linux clean"
DEST_MODULE_LOCATION="/kernel/drivers/char"
BUILT_MODULE_NAME="memento"
BUILT_MODULE_LOCATION="drivers/linux/"
PACKAGE_NAME="memento"
PACKAGE_VERSION="{{euresys_memento_version}}"
REMAKE_INITRD=yes
AUTOINSTALL=yes
