[Unit]
Description=Leto: manages Artemis
After=syslog.target network-online.target avahi-daemon.service gnome-session.target

[Service]
RestartSec=2s
Environment=XDG_DATA_HOME={{leto_data_dir}}
{% if use_mvHyperion %}
Environment=MV_IMPACT_ACQUIRE_DIR=/opt/mvIMPACT_Acquire
Environment=MV_IMPACT_ACQUIRE_DATA_DIR=/opt/mvIMPACT_Acquire/data
{% endif %}
{%if use_egrabber %}
Environment=EURESYS_COAXLINK_GENTL64_CTI=/opt/euresys/egrabber/lib/x86_64/coaxlink.cti
{% endif %}

{% if enable_telemetry == True %}
Environment=LETO_OTEL_ENDPOINT="{{ olympus_ip_address }}:4317"
{% endif %}

WorkingDirectory=/data/fort-user
ExecStartPre=/usr/bin/env
ExecStart=/usr/local/bin/leto
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=leto
Restart=always

[Install]
WantedBy=gnome-session.target
