[Unit]
Description=Leto: manages Artemis
After=syslog.target
After=network.target

[Service]
User=leto
RestartSec=2s
Environment=XDG_DATA_HOME={{leto_data_dir}}
Environment=EURESYS_COAXLINK_GENTL64_CTI=/opt/euresys/coaxlink/lib/x86_64/coaxlink.cti
WorkingDirectory=/var/lib/leto
ExecStart=/usr/local/bin/leto
StandardOutput=syslog
StandardError=syslog
#SyslogIdentifier=leto
Restart=always

[Install]
WantedBy=multi-user.target
