# -*- mode: nginx -*-
server {
    listen 80 default_server;
    listen [::]:80 default_server;

    root /var/www/html;
    index index.html index.htm;

    server_name _;

    location /nodes/ {
        root /srv;

        autoindex on;
        sendfile on;
        sendfile_max_chunk 1m;
        tcp_nopush on;

        auth_basic "private area";
        auth_basic_user_file "/etc/nginx/htpasswd";

	    {% for node in nodes %}

	    location /nodes/{{node | regex_replace(\.local)}}/ {
	        proxy_pass http://{{node}}/;
	    }

        {% endfor %}

    }



    location /olympus {
        # add the following, to enable CORS
        # CORS OPTIONS
    	if ($request_method = 'OPTIONS') {
            add_header 'Access-Control-Allow-Origin' '*' always;
            add_header 'Access-Control-Allow-Headers' 'Range' always;
            add_header 'Access-Control-Allow-Methods' 'GET, HEAD, OPTIONS' always;
            add_header 'Content-Length' 0;
            return 204;
        }

        # CORS HEAD
        if ($request_method = 'HEAD') {
            add_header 'Access-Control-Allow-Origin' '*' always;
            add_header 'Access-Control-Expose-Headers' 'Content-Length' always;
        }

        # CORS GET
        if ($request_method = 'GET') {
            add_header 'Access-Control-Allow-Origin' '*' always;
            add_header 'Access-Control-Expose-Headers' 'Content-Length, Content-Range' always;
        }


        types {
            application/vnd.apple.mpegurl m3u8;
            video/mp2t ts;
            image/png png;
        }
        root /var/www;
        add_header Cache-Control no-cache;
    }


    location / {
        proxy_pass http://localhost:3000/;
    }
}
